colrc
test_colrc
coverage
docs
examples/*_example
*.o
*.gcov
*.gcno
*.gcda
snippet
tools/*.json
deleteme.*
callgrind.*
cachegrind.*
images/*.xcf
libcolr.so
cppcheck_report
colrc-*.*.*
snippet.last.*
snippet.colr.*.c
