colrc
test_colrc
coverage
docs
examples/*_example
*.o
*.gcov
*.gcno
*.gcda
snippet
tools/*.json
deleteme.*
callgrind.*
cachegrind.*
images/*.xcf
libcolr.so
cppcheck_report
colrc-[0-9]*.[0-9]*.*[0-9]
snippet.last.*
snippet.colr.*.c
unused.json
cppcheck.cached*.json
*.srctrl*
deb_pkgs/colr.in/*.*
deb_pkgs/libcolr-dev.in/*.*
